
/* css for home listing card  */

.cardWrap{
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  gap:4rem;
  margin-top: 8rem;
  padding:0 ;
  overflow-x: hidden;

}

.card {
  background: #f2f4f7;
  border-radius: 22px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.17);
}

.card_top{
  padding:0 !important ;
  width: 340px ;
  height: 360px;
}
.card-img-top{
  width:100% ;
  height: 300px;
  object-fit: cover;
}

.card-image-overlay:hover{
  background-color: white ;
  opacity: 0.8;
}

@media(min-width:576px){
  .card_top{
    width:400px ;
    height: 400px;
  }
}



/* css for showPage */

.showPage_div{
  margin-top: 8rem;
}
.image_div{
  height: 300px;
  width:370px;
  
}
.show_image{
  width:100%;
  height: 100%;
  object-fit: cover;
}
.btn_div{
  width:360px;
  display:flex;
  justify-content: space-between;
}
.update_btn{
  background-color:green;
  color:white ;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
}
.update_btn:hover{
  background-color: rgb(64, 152, 64);
  color:white; 
}

.delete_btn{
  background-color: red;
  color:white ;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
}
.delete_btn:hover{
  background-color: rgb(166, 41, 41);
  color:white;
}
.book_btn{
  background-color:blue;
  color:white ;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
}
.book_btn:hover{
  background-color: rgb(77, 69, 149);
  color:white;
}

@media(min-width:756px){
  .image_div{
    width:500px ;
  }
}