
/* css for home listing card  */

.cardWrap{
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  gap:4rem;
  margin-top: 8rem;
  padding:0 ;
  overflow-x: hidden;

}

.card {
  background: #f2f4f7;
  border-radius: 22px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.17);
}

.card_top{
  padding:0 !important ;
  width: 340px ;
  height: 360px;
}
.card-img-top{
  width:100% ;
  height: 300px;
  object-fit: cover;
}

.card-image-overlay:hover{
  background-color: white ;
  opacity: 0.8;
}

@media(min-width:576px){
  .card_top{
    width:400px ;
    height: 400px;
  }
}